{% extends 'base.html' %}

{% block content %}

<h2 style="margin-bottom: 25px; margin-top: 20px;"> 📊 Analytics Dashboard</h2 >

<div class="grid">

    <div class="card">
        <h3>Total Profit</h3>
        <p>${{ total_profit }}</p>
    </div>

    <div class="card">
        <h3>Win Rate</h3>
        <p>{{ win_rate }}%</p>
    </div>

    <div class="card">
        <h3>Average Profit</h3>
        <p>${{ avg_profit }}</p>
    </div>

    <div class="card">
        <h3>Best Trade</h3>
        <p>{{ best_trade.symbol }}  ${{ best_trade.profit_loss }}</p>
    </div>

    <div class="card">
        <h3>Worst Trade</h3>
        <p>{{ worst_trade.symbol }}  ${{ worst_trade.profit_loss }}</p>
    </div>

</div>

{% endblock %}